body{
    margin: 0%;
    font-family: Verdana;
}
header{
    display: flex;
    align-items: center;
    gap: 100px;
}
input{
    width: 700px;
    height: 40px;
}
.icones{
    display: flex;
    align-items: center;
    width: 300px;
    gap: 30px;
}
nav{
    background-color: rgba(104, 102, 197, 1);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
a{
    text-decoration: none;
    color: white;
}
#classificaçao{
    margin-left: 75px;
}
.filme1{
    width: 17%;
    height: 350px;
    border-radius: 30px;
}
.filme2{
    width: 17%;
    height: 350px;
    border-radius: 30px;
}
.poster{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.filmes1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.filmes2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}
footer{
    margin-top: 80px;
    display: flex;
    align-items: center;
    background-color: rgba(104, 102, 197, 1);
    gap: 100px;
    color: white;
}
#logocinedica2{
    width: 250px;
    height: 70px;
}
.copyright{
    text-align: center;
    background-color: rgba(104, 102, 197, 1);
    margin-top: 2px;
    color: white;
}