body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.fundo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(104, 102, 197, 1);
}

.formulario {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.icone {
  font-size: 40px;
}

h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.campo {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 12px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #5850d4;
}

.link {
  font-size: 14px;
}

.link a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: bold;
}
